* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.App {
  text-align: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  border: solid;
  background: white;
}

.main-title {
  background-color: black;
}

header h1 {
  padding: 3rem 0 2rem 0;
  font-size: 3em;
  font-family: "Passion One", cursive;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: white;
}

header p {
  color: white;
  padding-bottom: 1rem;
}

.search-form {
  margin-top: 50px;
  font-family: "Passion One", cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.search-form input {
  padding: 10px 5px;
  border-radius: 10px;
  display: block;
  margin: 1rem auto;
  font-size: 1rem;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  font-family: "Passion One", cursive;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: rgb(125, 166, 192);
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.display-name {
  font-family: "Passion One", cursive;
  letter-spacing: 1px;
  font-weight: lighter;
  margin: 4rem 0 2rem 0;
  font-size: 2em;
}

.chartjs-render-monitor {
  color: black;
}

.line-container {
  margin-top: 50px;
}

.line-container h3 {
  font-family: "Passion One", cursive;
  letter-spacing: 1px;
  font-size: 2em;
}

.display-graph {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.loading-text {
  margin-top: 3rem;
  font-family: "Passion One", cursive;
  letter-spacing: 1px;
  font-size: 2em;
}

/* MAP SECTION */

#mapid {
  height: 700px;
}

.map-container {
  margin-top: 50px;
  font-family: "Passion One", cursive;
  letter-spacing: 1px;
}

.map-container p {
  margin-bottom: 10px;
}
.map-container h3 {
  font-size: 2em;
}
